In [1]:
import numpy as np
import pandas as pd
from processing_enoe_frailty import *

# 0. Data Modelling

## 0.1 Data modeling process by IBM

As a discipline, data modeling invites stakeholders to evaluate data processing and storage in painstaking detail.

Those workflows generally look like this:

0. **Understand Requirements.** Start by thoroughly understanding the requirements of the system or application you are designing. Engage with stakeholders, including end-users, to gather and document their needs and expectations.

1. **Identify the entities.** The process of data modeling begins with the identification of the things, events or concepts that are represented in the data set that is to be modeled. Each entity should be cohesive and logically discrete from all others.

2. **Define the key properties or attributes of each entity.** Each entity type can be differentiated from all others because it has one or more unique properties, called attributes. For instance, an entity called “customer” might possess such attributes as a first name, last name, telephone number and salutation, while an entity called “address” might include a street name and number, a city, state, country and zip code.
    
3. **Establish relationships among entities.** The earliest draft of a data model will specify the nature of the relationships each entity has with the others. In the above example, each customer “lives at” an address. If that model were expanded to include an entity called “orders,” each order would be shipped to and billed to an address as well.** These relationships are usually documented via unified modeling language (UML).
    
4. **Map attributes to entities completely.** This will ensure the model reflects how the business will use the data. Several formal data modeling patterns are in widespread use. Object-oriented developers often apply analysis patterns or design patterns, while stakeholders from other business domains may turn to other patterns.

5. **Choose Appropriate Data Types.** Select appropriate data types for each attribute based on the nature of the data. Consider factors such as data size, precision, and the range of values. Common data types include integers, strings, dates, and decimals.

6. **Assign keys as needed, and decide on a degree of normalization that balances the need to reduce redundancy with performance requirements.** Normalization is a technique for organizing data models (and the databases they represent) in which numerical identifiers, called keys, are assigned to groups of data to represent relationships between them without repeating the data. For instance, if customers are each assigned a key, that key can be linked to both their address and their order history without having to repeat this information in the table of customer names. Normalization tends to reduce the amount of storage space a database will require, but it can at cost to query performance.

7. **Consider Performance.** Factor in performance considerations during the design phase. Evaluate how the data model will perform under different scenarios, and optimize the design accordingly. Indexing, partitioning, and denormalization may be considered for performance optimization.

8. **Document the Data Model.** Create comprehensive documentation for the data model. Include entity-relationship diagrams (ERDs), attribute definitions, relationship definitions, and any business rules associated with the data model. Clear documentation is essential for communication and maintenance.

9. **Finalize and validate the data model.** Data modeling is an iterative process that should be repeated and refined as business needs change. Collaborate closely with stakeholders, including database administrators, developers, and business analysts. Ensure that the data model aligns with both technical and business requirements.

10. **Tool Selection** Choose appropriate tools for creating and managing your data model. There are various database design tools available that can help you create visual representations of your data model and generate SQL scripts for database creation.


## 0.2 Applied Data modeling process by IBM

### 0.2.0 Requirements
Due to the nature of the model and objectives of research, we start by enunciating what we need:

We need a table with the data with the mexican unemployed population in the ENOE (thanks INEGI!) where each row is an individual who is unemployed and gets a job or keeps searching for a job at the end of the survey that follows that individual. It was determined that the period of interest would be 2019:i-2020:i as it was the latest survey to be completed at the time of estabilishing the research objectives. The characteristics of interest are: a time to employment (time to failure) which happens to interval censored so in reality is two times of observation in betweeen the failure happens, an indicator for right-censoring, the age of the individual at the start of the survey, the education level of the individual at the start of the survey, the gender of the individual, an indicator for work experience, an indicator for the position in the household, the number of children in the household, and an indicator for the state in which the individual resides.

### 0.2.1 Entities
The entities are: unemployed mexicans in the mexican labor market. 

### 0.2.2 Attributes
The attributes are: left time, right time, indicator right-censored, age, education level, gender, indicator work experience, household position, number of children, state.

### 0.2.3 Relationships 
Only one table and due to objectives, no relationships in a data modelling sense, where identified. 

### 0.2.4 Attribute Mapping
We will use the attributes in a statistical model, for research purposes. 

### 0.2.5 Data Types
Appropiate data types:
 - Time to employment, both numerical. Int could be preferred for storage or scalability, if it were a concern.
 - Indicator right-censored, integer. 
 - Age, integer.
 - Education level, integer.
 - Gender, integer.
 - Work experience, integer.
 - Hosehold position, integer. 
 - Number of children, integer.
 - State indicator, integer.

### 0.2.7 Keys
!!! Keys will be created from source data.

### 0.2.8 Data Model
!!!

** We assume that:
- If an unemployed individual is included in the next period as employed, it means that he found employment by the start of that period where he found employment.
- Simplest time to failure (1 permanent state) model.
- Complete Case Analysis approach to missing data: This is the simplest approach where only individuals with complete information on the outcome variable are included in the analysis. However, this approach can lead to biased results if the missing data is not completely at random.
### 0.2.10 Tools
Python and Github.

In [2]:
# carga csv
df_2019_1 = pd.read_csv(r'C:\Users\luis9\OneDrive\CIMAT PPE\Semestres\S04\Tesis\!data\2019trim1_csv/sdemt119.csv', low_memory=False)
df_2019_2 = pd.read_csv(r'C:\Users\luis9\OneDrive\CIMAT PPE\Semestres\S04\Tesis\!data\2019trim2_csv/sdemt219.csv', low_memory=False)
df_2019_3 = pd.read_csv(r'C:\Users\luis9\OneDrive\CIMAT PPE\Semestres\S04\Tesis\!data\2019trim3_csv/sdemt319.csv', low_memory=False)
df_2019_4 = pd.read_csv(r'C:\Users\luis9\OneDrive\CIMAT PPE\Semestres\S04\Tesis\!data\2019trim4_csv/sdemt419.csv', low_memory=False)
df_2020_1 = pd.read_csv(r'C:\Users\luis9\OneDrive\CIMAT PPE\Semestres\S04\Tesis\!data\2019trim4_csv/sdemt419.csv', low_memory=False)

In [3]:
df_dict = {
    'df_1' : df_2019_1,
    'df_2' : df_2019_2,
    'df_3' : df_2019_3,
    'df_4' : df_2019_4,
    'df_5' : df_2020_1
}

columns_interest_enoe = [
    'cd_a','ent', 'con', 'v_sel',
    'n_hog', 'n_ren', 'sex', 'eda',
    'cs_p13_1','n_hij', 'e_con', 
    'clase1', 'clase2', 'clase3',
    'd_ant_lab', 'dur_des'
]

n_og_df = len(df_dict.keys())
for df, name in zip(
    df_dict.values(), df_dict.keys()
    ):
    #  data with complete surveys,
    #  columns of interest
    df_dict[name] = ((
        df_dict[name])[df_dict[name].r_def == 0])[
            columns_interest_enoe].sort_values([
                'cd_a', 'ent', 'con', 'v_sel',
                'n_hog', 'n_ren']
                ).reset_index(drop=True)
    #  define unique key for each individual
    df_dict[name]['id'] = (df_dict[name].cd_a.astype(str
        ) + df_dict[name].ent.astype(str
        ) + df_dict[name].con.astype(str
        ) + df_dict[name].v_sel.astype(str
        ) + df_dict[name].n_hog.astype(str
        ) + df_dict[name].n_ren.astype(str)
        ).astype(np.int64)
    #
    (df_dict[name])['ocupado'] = ((df_dict[name].clase1==1) & (df_dict[name].clase2==1))
    (df_dict[name])['desocupado'] = ((
        (df_dict[name]['clase1']==1) & (df_dict[name]['clase2']==2)
        ) & (
        (df_dict[name]['clase3']==5) | (df_dict[name]['clase3']==6)
        ) & (
        df_dict[name]['dur_des'] != 6
        ))
    (df_dict[name])['de_interes'] = ((
        (df_dict[name]).ocupado | (
        df_dict[name]).desocupado
        ))
    
    df_dict[name] = (df_dict[name])[df_dict[name].de_interes]

In [52]:
df_dict = {
    'df_1' : df_2019_1,
    'df_2' : df_2019_2,
    'df_3' : df_2019_3,
    'df_4' : df_2019_4,
    'df_5' : df_2020_1
}

columns_interest_enoe = [
    'cd_a','ent', 'con', 'v_sel',
    'n_hog', 'n_ren', 'sex', 'eda',
    'cs_p13_1','n_hij', 'e_con', 
    'clase1', 'clase2', 'clase3',
    'd_ant_lab', 'dur_des'
]

og_keys = list(df_dict.keys())
n_og_df = len(df_dict.keys())

for df, name in zip(
    df_dict.values(), df_dict.keys()
    ):
    #  data with complete surveys,
    #  columns of interest
    df_dict[name] = ((
        df_dict[name])[df_dict[name].r_def == 0])[
            columns_interest_enoe].sort_values([
                'cd_a', 'ent', 'con', 'v_sel',
                'n_hog', 'n_ren']
                ).reset_index(drop=True)
    #  define unique key for each individual
    df_dict[name]['id'] = (df_dict[name].cd_a.astype(str
        ) + df_dict[name].ent.astype(str
        ) + df_dict[name].con.astype(str
        ) + df_dict[name].v_sel.astype(str
        ) + df_dict[name].n_hog.astype(str
        ) + df_dict[name].n_ren.astype(str)
        ).astype(np.int64)

#  extract auxiliary data frames
keys_df_desempleados = []
for j in np.arange(n_og_df)+1:
    df_name = list(df_dict.keys())[j-1]
    df_dict[
        f'df_desempleados_{j}'] = (
        df_dict[df_name])[
        ((
        df_dict[df_name]['clase1']==1) & (
        df_dict[df_name]['clase2']==2)
        ) & ((
        df_dict[df_name]['clase3']==5) | (
        df_dict[df_name]['clase3']==6)
        ) & (
        df_dict[df_name]['dur_des']  != 6
        )]
    
    df_dict[
        f'df_ocupados_{j}'] = (
        df_dict[df_name])[
        ((
        df_dict[df_name]['clase1']==1) & (
        df_dict[df_name]['clase2']==1)
        )]
    
    keys_df_desempleados.append(f'df_desempleados_{j}')

#  extract indicator of fail
df_names = []
for j in np.arange(n_og_df)+1:
    if j<n_og_df:
        (df_dict[f'df_desempleados_{j}'])[f'delta_ocupado'] = ((df_dict[
            f'df_desempleados_{j}'].id.isin(df_dict[f'df_ocupados_{j+1}'].id
        ))*1).astype(int)

C:\Users\luis9\AppData\Local\Temp\ipykernel_13400\2047493246.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  (df_dict[f'df_desempleados_{j}'])[f'delta_ocupado'] = ((df_dict[
C:\Users\luis9\AppData\Local\Temp\ipykernel_13400\2047493246.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  (df_dict[f'df_desempleados_{j}'])[f'delta_ocupado'] = ((df_dict[
C:\Users\luis9\AppData\Local\Temp\ipykernel_13400\2047493246.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  (df_dict[f'df_desempleados_{j}'])[f'delta_ocupado'] = ((df_dict[
C:\Users\luis9\AppData\Local\Temp\ipykernel_13400\2047493246.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  (df_dict[f'df_desempleados_{j}'])[f'delta_ocupado'] = ((df_dict[

In [57]:
for key_desempleado in keys_df_desempleados:
    temp_df = df_dict[key_desempleado]
    df_names.append(temp_df)

df_unemployed = pd.concat(df_names
    ).dropna().drop_duplicates(
        ['id', 'delta_ocupado'],
        keep='first'
)

In [58]:
df_unemployed

,cd_a,ent,con,v_sel,n_hog,n_ren,sex,eda,cs_p13_1,n_hij,e_con,clase1,clase2,clase3,d_ant_lab,dur_des,id,delta_ocupado
9,1,9,40001,3,1,1,1,70,7,,6,1,2,6,1,2,1940001311,1.0
15,1,9,40001,5,1,3,2,41,4,2,5,1,2,6,1,1,1940001513,0.0
63,1,9,40005,2,1,2,2,38,4,2,5,1,2,6,1,2,1940005212,1.0
261,1,9,40019,5,1,2,2,31,4,1,6,1,2,6,1,4,1940019512,0.0
325,1,9,40026,1,2,1,1,48,4,,5,1,2,6,1,1,1940026121,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401496,86,32,60024,15,1,2,1,37,2,,6,1,2,6,1,1,8632600241512,0.0
401743,86,32,60028,5,1,3,1,27,2,,1,1,2,6,1,1,863260028513,0.0
402067,86,32,60033,12,1,3,2,21,3,0,6,1,2,6,1,1,8632600331213,0.0
402068,86,32,60033,12,1,4,2,19,3,0,6,1,2,6,1,1,8632600331214,0.0
402071,86,32,60033,12,1,7,2,26,3,2,1,1,2,6,1,1,8632600331217,0.0

In [ ]:
df_unemployed

In [11]:
df_dict.keys()

dict_keys(['df_1', 'df_2', 'df_3', 'df_4', 'df_5', 'df_desempleados_1', 'df_ocupados_1', 'df_desempleados_2', 'df_ocupados_2', 'df_desempleados_3', 'df_ocupados_3', 'df_desempleados_4', 'df_ocupados_4', 'df_desempleados_5', 'df_ocupados_5'])

In [13]:
df_dict.keys()

dict_keys(['df_1', 'df_2', 'df_3', 'df_4', 'df_5', 'df_desempleados_1', 'df_ocupados_1', 'df_desempleados_2', 'df_ocupados_2', 'df_desempleados_3', 'df_ocupados_3', 'df_desempleados_4', 'df_ocupados_4', 'df_desempleados_5', 'df_ocupados_5', 'df_desempleados_delta_1', 'df_desempleados_delta_2', 'df_desempleados_delta_3', 'df_desempleados_delta_4'])

In [16]:
list_keys = list(df_dict.keys())

df_dict[list_keys[0]].columns

Index(['cd_a', 'ent', 'con', 'v_sel', 'n_hog', 'n_ren', 'sex', 'eda',
       'cs_p13_1', 'n_hij', 'e_con', 'clase1', 'clase2', 'clase3', 'd_ant_lab',
       'dur_des', 'id'],
      dtype='object')

In [17]:
df_dict['df_desempleados_1'].columns

Index(['cd_a', 'ent', 'con', 'v_sel', 'n_hog', 'n_ren', 'sex', 'eda',
       'cs_p13_1', 'n_hij', 'e_con', 'clase1', 'clase2', 'clase3', 'd_ant_lab',
       'dur_des', 'id'],
      dtype='object')

In [18]:
df_dict['df_ocupados_1'].columns

Index(['cd_a', 'ent', 'con', 'v_sel', 'n_hog', 'n_ren', 'sex', 'eda',
       'cs_p13_1', 'n_hij', 'e_con', 'clase1', 'clase2', 'clase3', 'd_ant_lab',
       'dur_des', 'id'],
      dtype='object')

In [20]:
df_dict['df_desempleados_delta_1']

9          True
15        False
63         True
261       False
325       False
          ...
405199    False
405208    False
405503     True
405617    False
405854     True
Name: id, Length: 5806, dtype: bool

In [21]:
df_desempleados = (df_dict['df_desempleados_1'][[
    'cd_a','ent', 'sex', 'eda',
    'cs_p13_1','n_hij', 'e_con', 
    'clase1', 'clase2', 'clase3',
    'd_ant_lab', 'id'
    ]]).join(
        df_fail,
        how='left',
        on='id'
    )
df_desempleados

ValueError: columns overlap but no suffix specified: Index(['id'], dtype='object')

In [92]:
siguen_2019_i_a_2019_ii.sum(),   siguen_2019_i_a_2019_iii.sum(),   siguen_2019_i_a_2019_iv.sum(),  siguen_2019_i_a_2020_i.sum()

(ID    725
 dtype: int64,
 ID    450
 dtype: int64,
 ID    235
 dtype: int64,
 ID    235
 dtype: int64)

In [93]:
# dejan de observarse en el sig periodo
dejado_2019_i_a_2019_ii   = (~chidos_2019_i_a_2019_ii)&(~siguen_2019_i_a_2019_ii) 
dejado_2019_ii_a_2019_iii = (~chidos_2019_ii_a_2019_iii)&(~siguen_2019_ii_a_2019_iii) 
dejado_2019_iii_a_2019_iv = (~chidos_2019_iii_a_2019_iv)&(~siguen_2019_iii_a_2019_iv) 
dejado_2019_iv_a_2020_i   = (~chidos_2019_iv_a_2020_i)&(~siguen_2019_iv_a_2020_i)

In [94]:
chidos_19i_a_19ii   = df_dese_2019_i[chidos_2019_i_a_2019_ii.to_numpy().flatten()]
chidos_19ii_a_19iii = df_dese_2019_ii[chidos_2019_ii_a_2019_iii.to_numpy().flatten()]
chidos_19iii_a_19iv = df_dese_2019_iii[chidos_2019_iii_a_2019_iv.to_numpy().flatten()]
chidos_19iv_a_20i   = df_dese_2019_iv[chidos_2019_iv_a_2020_i.to_numpy().flatten()]

In [95]:
# siguen desempleados desde el primer periodo hasta 2020:i,  etc
des_19i_a_20_i   = df_dese_2019_i[siguen_2019_i_a_2020_i.to_numpy().flatten()]
des_19ii_a_20_i  = df_dese_2019_ii[siguen_2019_ii_a_2020_i.to_numpy().flatten()]
des_19iii_a_20_i = df_dese_2019_iii[siguen_2019_iii_a_2020_i.to_numpy().flatten()]
des_19iv_a_20_i  = df_dese_2019_iv[siguen_2019_iv_a_2020_i.to_numpy().flatten()]

In [96]:
# juntamos datos
df_CHIDOS_ = pd.concat([chidos_19i_a_19ii, chidos_19ii_a_19iii, chidos_19iii_a_19iv, chidos_19iv_a_20i])
# agrega columna indicadora
df_CHIDOS_ = df_CHIDOS_.reset_index().join( pd.DataFrame(np.ones(df_CHIDOS_.shape[0]), columns=['Delta']) )
df_DESE_   = df2020_1_f[desempleados_2020_1]
# agrega columna indicadora de que estos individuos no experimentaron entrar en ocupación despues de estár desoscupados
df_DESE_ = df_DESE_.reset_index().join( pd.DataFrame(np.zeros(df_DESE_.shape[0]), columns=['Delta']) )

In [99]:
#guarda datos de población de interés en un solo DF
df_FINAL_v1 = pd.concat([df_CHIDOS_[['cd_a', 'ent', 'sex', 'eda', 'cs_p13_1', 'n_hij', 'e_con', 'd_ant_lab', 'dur_des','Delta']],
                         df_DESE_[['cd_a', 'ent', 'sex', 'eda', 'cs_p13_1', 'n_hij', 'e_con', 'd_ant_lab', 'dur_des','Delta']]], ignore_index=True)

In [ ]:
df2019_1_f[desempleados_2019_1]

In [ ]:
# revisa que personas estaban en desempleo y consiguieron ser empleados
chidos_2019_i_a_2019_ii = df_dese_2019_i[['ID']].isin(df_ocup_2019_ii['ID'].values)

In [81]:
#pea_2019_1 = (df2019_1_f['clase1']==1)
#pnea_2019_1 = (df2019_1_f['clase1']==2)
#ocupados_2019_1 = ((df2019_1_f['clase1']==1) & (df2019_1_f['clase2']==1))
#desocupados_2019_1 = ((df2019_1_f['clase1']==1) & (df2019_1_f['clase2']==2))
#disponibles_2019_1 = ((df2019_1_f['clase1']==1) & (df2019_1_f['clase2']==3))
#no_disponib_2019_1 = ((df2019_1_f['clase1']==1) & (df2019_1_f['clase2']==4))
#desempleados_2019_1 = ((df2019_1_f['clase1']==1) & (df2019_1_f['clase2']==2)) & ((df2019_1_f['clase3']==5) | (df2019_1_f['clase3']==6))  & (df2019_1_f['dur_des']  != 6)

In [5]:
df_dese_2019_i   = df2019_1_f[desempleados_2019_1]
df_dese_2019_ii  = df2019_2_f[desempleados_2019_2]
df_dese_2019_iii = df2019_3_f[desempleados_2019_3]
df_dese_2019_iv  = df2019_4_f[desempleados_2019_4]
df_dese_2020_i   = df2020_1_f[desempleados_2020_1]

df_ocup_2019_i   = df2019_1_f[ocupados_2019_1]
df_ocup_2019_ii  = df2019_2_f[ocupados_2019_2]
df_ocup_2019_iii = df2019_3_f[ocupados_2019_3]
df_ocup_2019_iv  = df2019_4_f[ocupados_2019_4]
df_ocup_2020_i   = df2020_1_f[ocupados_2020_1]

In [8]:
# quienes siguen buscando empleo en el sig. periodo
siguen_2019_i_a_2019_ii  = df_dese_2019_i[['ID']].isin(df_dese_2019_ii['ID'].values)
siguen_2019_i_a_2019_iii = df_dese_2019_i[['ID']].isin(df_dese_2019_iii['ID'].values)
siguen_2019_i_a_2019_iv  = df_dese_2019_i[['ID']].isin(df_dese_2019_iv['ID'].values)
siguen_2019_i_a_2020_i   = df_dese_2019_i[['ID']].isin(df_dese_2020_i['ID'].values)

siguen_2019_ii_a_2019_iii = df_dese_2019_ii[['ID']].isin(df_dese_2019_iii['ID'].values)
siguen_2019_ii_a_2019_iv  = df_dese_2019_ii[['ID']].isin(df_dese_2019_iv['ID'].values)
siguen_2019_ii_a_2020_i   = df_dese_2019_ii[['ID']].isin(df_dese_2020_i['ID'].values)

siguen_2019_iii_a_2019_iv = df_dese_2019_iii[['ID']].isin(df_dese_2019_iv['ID'].values)
siguen_2019_iii_a_2020_i  = df_dese_2019_iii[['ID']].isin(df_dese_2020_i['ID'].values)

siguen_2019_iv_a_2020_i   = df_dese_2019_iv[['ID']].isin(df_dese_2020_i['ID'].values)

In [9]:
siguen_2019_i_a_2019_ii.sum(),   siguen_2019_i_a_2019_iii.sum(),   siguen_2019_i_a_2019_iv.sum(),  siguen_2019_i_a_2020_i.sum()

(ID    725
 dtype: int64,
 ID    450
 dtype: int64,
 ID    235
 dtype: int64,
 ID    235
 dtype: int64)

In [10]:
# dejan de observarse en el sig periodo
dejado_2019_i_a_2019_ii   = (~chidos_2019_i_a_2019_ii)&(~siguen_2019_i_a_2019_ii) 
dejado_2019_ii_a_2019_iii = (~chidos_2019_ii_a_2019_iii)&(~siguen_2019_ii_a_2019_iii) 
dejado_2019_iii_a_2019_iv = (~chidos_2019_iii_a_2019_iv)&(~siguen_2019_iii_a_2019_iv) 
dejado_2019_iv_a_2020_i   = (~chidos_2019_iv_a_2020_i)&(~siguen_2019_iv_a_2020_i)

In [11]:
chidos_19i_a_19ii   = df_dese_2019_i[chidos_2019_i_a_2019_ii.to_numpy().flatten()]
chidos_19ii_a_19iii = df_dese_2019_ii[chidos_2019_ii_a_2019_iii.to_numpy().flatten()]
chidos_19iii_a_19iv = df_dese_2019_iii[chidos_2019_iii_a_2019_iv.to_numpy().flatten()]
chidos_19iv_a_20i   = df_dese_2019_iv[chidos_2019_iv_a_2020_i.to_numpy().flatten()]

In [12]:
# siguen desempleados desde el primer periodo hasta 2020:i,  etc
des_19i_a_20_i   = df_dese_2019_i[siguen_2019_i_a_2020_i.to_numpy().flatten()]
des_19ii_a_20_i  = df_dese_2019_ii[siguen_2019_ii_a_2020_i.to_numpy().flatten()]
des_19iii_a_20_i = df_dese_2019_iii[siguen_2019_iii_a_2020_i.to_numpy().flatten()]
des_19iv_a_20_i  = df_dese_2019_iv[siguen_2019_iv_a_2020_i.to_numpy().flatten()]

In [13]:
# juntamos datos
df_CHIDOS_ = pd.concat([chidos_19i_a_19ii, chidos_19ii_a_19iii, chidos_19iii_a_19iv, chidos_19iv_a_20i])
# agrega columna indicadora
df_CHIDOS_ = df_CHIDOS_.reset_index().join( pd.DataFrame(np.ones(df_CHIDOS_.shape[0]), columns=['Delta']) )
df_DESE_   = df2020_1_f[desempleados_2020_1]
# agrega columna indicadora de que estos individuos no experimentaron entrar en ocupación despues de estár desoscupados
df_DESE_ = df_DESE_.reset_index().join( pd.DataFrame(np.zeros(df_DESE_.shape[0]), columns=['Delta']) )

In [14]:
# guarda datos de población de interés en un solo DF
df_FINAL_v1 = pd.concat([df_CHIDOS_[['cd_a', 'ent', 'sex', 'eda', 'cs_p13_1', 'n_hij', 'e_con', 'd_ant_lab', 'dur_des','Delta']],
                         df_DESE_[['cd_a', 'ent', 'sex', 'eda', 'cs_p13_1', 'n_hij', 'e_con', 'd_ant_lab', 'dur_des','Delta']]], ignore_index=True)

In [15]:
# definimos variables al aplicar las funciones definidas al inicio
df_FINAL_v1['inferior'] = df_FINAL_v1.apply(inferior, axis=1)
df_FINAL_v1['superior'] = df_FINAL_v1.apply(superior, axis=1)
df_FINAL_v1['imp_med']  = df_FINAL_v1.apply(imp_med, axis=1)
df_FINAL_v1['region']   = df_FINAL_v1.apply(macro_region, axis=1)
df_FINAL_v1['region_o'] = df_FINAL_v1['region'].astype(object)  
df_FINAL_v1['chamacos'] = df_FINAL_v1.apply(chamacos, axis=1)

df_FINAL_v1['genero']   = df_FINAL_v1.apply(genero, axis=1)
df_FINAL_v1['niv_ed']   = df_FINAL_v1.apply(niv_ed, axis=1)
df_FINAL_v1['ant_lab']  = df_FINAL_v1.apply(ant_lab, axis=1)
df_FINAL_v1['eda']      = df_FINAL_v1[['eda']].astype(int)
df_FINAL_v1['Etapa']    = df_FINAL_v1.apply(etapa_vida, axis=1)

In [16]:
# personas que no espeficiaron nivel de educación, puede sesgar inferencias si se utiliza niv de educ
(df_FINAL_v1[['niv_ed']] == 100).sum()

niv_ed    180
dtype: int64

In [17]:
# eliminamos personas que no espeficiaron nivel de educación
df_FINAL_v1 = df_FINAL_v1[(df_FINAL_v1['niv_ed'] != 100).to_numpy()]

In [18]:
(df_FINAL_v1['n_hij'] != ' ').sum()

5183

In [19]:
# número de diferencia de observaciones al eliminar personas que no espeficiaron nivel de educación
df_FINAL_v1.shape[0] - df_FINAL_v1.shape[0]

0

In [20]:
df_FINAL_v1_chamacos = df_FINAL_v1[df_FINAL_v1['chamacos'] !=  -1]

In [21]:
# deben de ser (0, 0, 0, 0, 0, 0) o falta hacer algo
(df_FINAL_v1[['region']] == -1).sum()[0], (df_FINAL_v1[['ant_lab']] == -1).sum()[0], (df_FINAL_v1[['ant_lab']] == -1).sum()[0],  (df_FINAL_v1[['inferior']] == -1).sum()[0],  (df_FINAL_v1[['superior']] == -1).sum()[0], (df_FINAL_v1[['niv_ed']] == 100).sum()[0]

(0, 0, 0, 0, 0, 0)

In [22]:
# deben de ser (0, 0) o falta hacer algo
(df_FINAL_v1[['eda']] < 12).sum()[0], (df_FINAL_v1[['eda']] > 98).sum()[0]

(0, 0)

In [23]:
df_FINAL_todo     = (df_FINAL_v1[['dur_des', 'imp_med', 'inferior', 'superior', 'Delta', 'cd_a', 'ent', 'region', 'genero', 'eda', 'niv_ed', 'chamacos', 'ant_lab', 'Etapa']].reset_index())[['dur_des','imp_med', 'inferior', 'superior', 'Delta', 'cd_a', 'ent', 'region', 'genero', 'eda', 'niv_ed', 'chamacos', 'ant_lab', 'Etapa']]
df_FINAL_chamacos = (df_FINAL_v1_chamacos[['dur_des','imp_med', 'inferior', 'superior', 'Delta', 'cd_a', 'ent', 'region', 'genero', 'eda', 'niv_ed', 'chamacos', 'ant_lab', 'Etapa']].reset_index())[['dur_des','imp_med', 'inferior', 'superior', 'Delta', 'cd_a', 'ent', 'region', 'genero', 'eda', 'niv_ed', 'chamacos', 'ant_lab', 'Etapa']]

In [24]:
df_FINAL_chamacos.genero.values.sum()

5183

In [25]:
# imprime tipo de datos en la base
df_FINAL_v1.dtypes

cd_a           int64
ent            int64
sex           object
eda            int32
cs_p13_1      object
n_hij         object
e_con         object
d_ant_lab      int64
dur_des        int64
Delta        float64
inferior       int64
superior       int64
imp_med      float64
region         int64
region_o      object
chamacos       int64
genero         int64
niv_ed         int64
ant_lab        int64
Etapa          int64
dtype: object

In [26]:
df_FINAL_v1.isna().sum()

cd_a         0
ent          0
sex          0
eda          0
cs_p13_1     0
n_hij        0
e_con        0
d_ant_lab    0
dur_des      0
Delta        0
inferior     0
superior     0
imp_med      0
region       0
region_o     0
chamacos     0
genero       0
niv_ed       0
ant_lab      0
Etapa        0
dtype: int64

In [27]:
# guarda base de dato  en .xlsx
df_FINAL_todo.to_excel(r'C:\Users\luis9\OneDrive\CIMAT PPE\Semestres\S04\Tesis\output.xlsx')
df_FINAL_chamacos.to_excel(r'C:\Users\luis9\OneDrive\CIMAT PPE\Semestres\S04\Tesis\output_chamacos.xlsx')